<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/diagnostic.css">
    <title>Document</title>
</head>
<body>
    <h1>DiagAI</h1>
    <span>ID:Patient 0001</span>

    <form action="" method="post">
        <label for="">Patient Age:</label>
        <input type="number" name="" id="">
        <label for="">Disability/Family Illness</label>
        <textarea name="" id="" cols="30" rows="10" placeholder="Start typing your symptoms, seperate the comma....."></textarea>
        <button> type="submit">Submit</button>
    </form>
</body>
</html>