<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/nav.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <span class="logo">DiagAI👩‍⚕️</span>
        <ul>
            <div>
                <li class="nav--list"><a href="/">Home</a></li>
                <li class="nav--list"><a href="/reports">Reports</a></li>
                <li class="nav--list"><a href="/symptom_result">Result</a></li>
            </div>
            <li class="logout"><a href="">Logout</a></li>
        </ul>
    </nav> 
</body>
</html>